.main-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title-cadastro {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-cadastro {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
}

.button-cadastro {
  width: 200px;
  height: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
}

